if (TARGET_NUC970 || TARGET_NUC970_TOMATO || TARGET_NUC970_ETH2UART || TARGET_NUC970_DISP976 || TARGET_NUC970_DISP977 || TARGET_NUC970_LAN977 || TARGET_NUC970_MIN)

config SYS_BOARD
	default "nuc970"

config SYS_VENDOR
	default "nuvoton"

config SYS_SOC
	default "nuc970"

config SYS_CONFIG_NAME
	default "nuc970_evb" if TARGET_NUC970
	default "nuc970_tomato" if TARGET_NUC970_TOMATO
	default "nuc970_eth2uart" if TARGET_NUC970_ETH2UART
	default "nuc970_disp976" if TARGET_NUC970_DISP976
	default "nuc970_disp977" if TARGET_NUC970_DISP977
	default "nuc970_lan977" if TARGET_NUC970_LAN977
	default "nuc970_min" if TARGET_NUC970_MIN

config NUC970
	bool
	default y

config NUC970_HW_CHECKSUM
	bool
	default y if TARGET_NUC970_TOMATO

config NUC970_EMAC0_NO_MDC
	bool
	default y if (TARGET_NUC970_DISP976 || TARGET_NUC970_DISP977 || TARGET_NUC970_MIN)

config NUC970_PHY_KSZ8895_MDC
	bool
	default y if TARGET_NUC970_LAN977
endif
