CONFIG_ARM=y
CONFIG_N32926=y
CONFIG_TARGET_N32926_DISP=y
CONFIG_BOOTDELAY=0
CONFIG_LOCALVERSION="DISP926V1"
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

CONFIG_SYS_HZ=1000
CONFIG_CMD_TIMER=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y

CONFIG_N32926_CONSOLE=y
CONFIG_HUSH_PARSER=y
CONFIG_NETDEVICES=y

CONFIG_N32926_EMAC_NO_MDC=y
CONFIG_N32926_ETH=y
CONFIG_N32926_PHY_ADDR=1

CONFIG_N32926_GPIO=y
CONFIG_CMD_GPIO=y

CONFIG_N32926_I2C=y
CONFIG_SYS_I2C=y
CONFIG_SYS_I2C_SPEED=50
CONFIG_N32926_I2C_PB=y
CONFIG_N32926_I2C_SPEED=50

CONFIG_N32926_SPI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_BAR=y

#CONFIG_N32926_WATCHDOG=y

#CONFIG_RTC_N32926=y

CONFIG_FS_JFFS2=y

