CONFIG_ARM=y
CONFIG_N9H30=y
CONFIG_TARGET_N9H30=y
CONFIG_SYS_NO_FLASH=y
CONFIG_BOOTDELAY=3

CONFIG_SYS_HZ=1000
CONFIG_CMD_TIMER=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_JFFS2=y

CONFIG_SPL=y
CONFIG_NAND_N9H30=y
CONFIG_CMD_NAND=y
CONFIG_CMD_UBI=y

#CONFIG_MMC=y
#CONFIG_GENERIC_MMC=y
#CONFIG_N9H30_MMC=y
#CONFIG_CMD_MMC=y
#CONFIG_N9H30_SD_PORT0=y
#CONFIG_N9H30_EMMC=y

CONFIG_N9H30_CONSOLE=y
CONFIG_HUSH_PARSER=y
CONFIG_N9H30_GPIO=y
CONFIG_LCD=y
CONFIG_N9H30_LCD=y
CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=y
CONFIG_CONSOLE_SCROLL_LINES=1

CONFIG_N9H30_SPI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_BAR=y

CONFIG_N9H30_WATCHDOG=y

CONFIG_USB=y
CONFIG_USB_EHCI_N9H30=y
CONFIG_CMD_USB=y
CONFIG_CMD_FAT=y
CONFIG_USB_STORAGE=y
CONFIG_USB_EHCI=y
CONFIG_USB_EHCI_HCD=y


# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_DM_SERIAL is not set
