CONFIG_ARM=y
CONFIG_NUC970=y
CONFIG_TARGET_NUC970_ETH2UART=y
CONFIG_BOOTDELAY=0

CONFIG_MMC=y
CONFIG_GENERIC_MMC=y
CONFIG_NUC970_MMC=y
CONFIG_NUC970_SD_PORT0=y
#CONFIG_NUC970_EMMC=y

CONFIG_NUC970_CONSOLE=y
CONFIG_HUSH_PARSER=y
CONFIG_NETDEVICES=y
CONFIG_NUC970_EMAC0=y
CONFIG_NUC970_ETH=y
CONFIG_NUC970_PHY_ADDR=1
CONFIG_NUC970_GPIO=y
#CONFIG_LCD=y
#CONFIG_NUC970_LCD=y

CONFIG_NUC970_SPI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_BAR=y

CONFIG_NUC970_WATCHDOG=y
CONFIG_USB_EHCI_NUC970=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_DM_SERIAL is not set
