CONFIG_ARM=y
CONFIG_NUC970=y
CONFIG_TARGET_NUC970_DISP976=y
CONFIG_BOOTDELAY=0
CONFIG_NUC970_HW_CHECKSUM=y
CONFIG_LOCALVERSION="DISP976V1"
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

CONFIG_SYS_HZ=1000
CONFIG_CMD_TIMER=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y

CONFIG_MMC=y
CONFIG_GENERIC_MMC=y
CONFIG_NUC970_MMC=y
CONFIG_NUC970_SD_PORT0=y
#CONFIG_NUC970_EMMC=y

CONFIG_NUC970_CONSOLE=y
CONFIG_HUSH_PARSER=y
CONFIG_NETDEVICES=y

CONFIG_NUC970_EMAC0=y
CONFIG_NUC970_EMAC0_NO_MDC=y
CONFIG_NUC970_ETH=y
CONFIG_NUC970_PHY_ADDR=1

CONFIG_NUC970_GPIO=y
CONFIG_CMD_GPIO=y

CONFIG_NUC970_I2C=y
CONFIG_SYS_I2C=y
CONFIG_SYS_I2C_SPEED=50
CONFIG_ENABLE_NUC970_I2C0=y
CONFIG_NUC970_I2C0_PG=y
CONFIG_NUC970_I2C0_SPEED=50


#CONFIG_LCD=y
#CONFIG_NUC970_LCD=y

CONFIG_NUC970_SPI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_BAR=y

CONFIG_NUC970_WATCHDOG=y

CONFIG_RTC_NUC970=y

CONFIG_FS_FAT=y
CONFIG_FS_FAT_MAXCLUSTSIZE=65536
CONFIG_FS_JFFS2=y

# CONFIG_USB_EHCI_NUC970=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_DM_SERIAL is not set
