# Generic CPU settings
CONFIG_ARM=y
CONFIG_NUC970=y
CONFIG_TARGET_NUC970_DISP977V4=y
CONFIG_BOOTDELAY=0
#CONFIG_FIT=y
#CONFIG_FIT_VERBOSE=y
#CONFIG_CMD_BOOTZ=y

# Command-line interface
CONFIG_NUC970_CONSOLE=y
CONFIG_HUSH_PARSER=y
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
#CONFIG_CMD_SETEXPR=y
CONFIG_CMD_MEMORY=n
CONFIG_CMD_CRC32=n

# MMC/SD settings
CONFIG_MMC=y
CONFIG_GENERIC_MMC=y
CONFIG_NUC970_MMC=y
CONFIG_NUC970_SD_PORT0=y
CONFIG_CMD_MMC=y

# Networking
CONFIG_NETDEVICES=y
CONFIG_NUC970_EMAC0=y
CONFIG_NUC970_PHY_IP175L_MDC=y
CONFIG_NUC970_ETH=y
CONFIG_NUC970_PHY_ADDR=1
CONFIG_CMD_NET=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y
CONFIG_NUC970_ETHADDR_FROM_EEPROM=y
CONFIG_NUC970_ETHADDR_EEPROM_I2C_ADDR=50
CONFIG_NUC970_ETHADDR_EEPROM_OFFSET=FA

# GPIO functionality
CONFIG_NUC970_GPIO=y
CONFIG_NUC970_I2C_PG_PU=y
#CONFIG_CMD_GPIO=y

# SPI interface and SPI Flash
CONFIG_NUC970_SPI=y
CONFIG_NUC970_SPI_Normal=y
#CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_SST=y

# I2C interface
CONFIG_SYS_I2C=y
CONFIG_SYS_I2C_SOFT=y
CONFIG_CMD_I2C=y

# Watchdog support
CONFIG_NUC970_WATCHDOG=y

