CONFIG_ARM=y
CONFIG_NUC970=y
CONFIG_TARGET_NUC970=y
CONFIG_SYS_NO_FLASH=y
CONFIG_BOOTDELAY=3

CONFIG_SYS_HZ=1000
CONFIG_CMD_TIMER=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_JFFS2=y

CONFIG_SPL=y
CONFIG_NAND_NUC970=y
CONFIG_CMD_NAND=y
CONFIG_CMD_UBI=y

#CONFIG_MMC=y
#CONFIG_GENERIC_MMC=y
#CONFIG_NUC970_MMC=y
#CONFIG_CMD_MMC=y
#CONFIG_NUC970_SD_PORT0=y
#CONFIG_NUC970_EMMC=y

CONFIG_NUC970_CONSOLE=y
CONFIG_HUSH_PARSER=y
CONFIG_NETDEVICES=y
CONFIG_NUC970_EMAC0=y
CONFIG_NUC970_ETH=y
CONFIG_NUC970_PHY_ADDR=1
CONFIG_NUC970_GPIO=y
CONFIG_LCD=y
CONFIG_NUC970_LCD=y
CONFIG_LCD_E50A2V1=y
CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=y
CONFIG_CONSOLE_SCROLL_LINES=1

#CONFIG_NUC970_SPI=y
#CONFIG_NUC970_SPI_Quad=y
#CONFIG_CMD_SPI=y
#CONFIG_CMD_SF=y
#CONFIG_SPI_FLASH=y
#CONFIG_SPI_FLASH_WINBOND=y
#CONFIG_SPI_FLASH_BAR=y

CONFIG_NUC970_WATCHDOG=y

CONFIG_USB=y
CONFIG_USB_EHCI_NUC970=y
CONFIG_CMD_USB=y
CONFIG_CMD_FAT=y
CONFIG_USB_STORAGE=y
CONFIG_USB_EHCI=y
CONFIG_USB_EHCI_HCD=y


# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_DM_SERIAL is not set
