if (TARGET_NUC980 || TARGET_NUC980_TOMATO || TARGET_NUC980_ETH2UART || TARGET_NUC980_IOT || TARGET_NUC980_CHILI || TARGET_NUC980_LORAG)

config SYS_BOARD
	default "nuc980"

config SYS_VENDOR
	default "nuvoton"

config SYS_SOC
	default "nuc980"

config SYS_CONFIG_NAME
	default "nuc980_evb" if TARGET_NUC980
	default "nuc980_tomato" if TARGET_NUC980_TOMATO
	default "nuc980_eth2uart" if TARGET_NUC980_ETH2UART
	default "nuc980_iot" if TARGET_NUC980_IOT
	default "nuc980_lorag" if TARGET_NUC980_LORAG
	default "nuc980_chili" if TARGET_NUC980_CHILI
config NUC980
	bool
	default y

config NUC980_HW_CHECKSUM
	bool
	default y if TARGET_NUC980_TOMATO

endif
